# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.log.*

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build output
dist/
build/
coverage/

# Optional: si usás Firebase CLI
.firebase/

